<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockThemAll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BlockThemAll.Properties.Settings>
            <setting name="KeepFollowing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepFollower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRetryApiLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSwitchCredApiLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MuteUserOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </BlockThemAll.Properties.Settings>
    </userSettings>
</configuration>